
<div style="background-color: #ffcce6; padding: 10px;">
    <h3>Navegador</h3>
    <ul>
      <li style="color: #e60000;">Opcion 1: Historia Médica</li>
      <li style="color: #ffcce6;">Opcion 2: Examen Físico</li>
      <li style="color: #00e6ac;">Opcion 3: Plan de Tratamiento</li>
      <li style="color: #e6d500;">Opcion 4: Estudios de Laboratorio</li>
      <li style="color: #00e6e6;">Opcion 5: Resultados de Laboratorio</li>
      <li style="color: #5c00e6;">Opcion 6: Estudios de Diagnóstico</li>
      <li style="color: #e6ac00;">Opcion 7: Resultados de Diagnóstico</li>
    </ul>
  </div>