<nav style="position: relative; left: 5%; margin-top: 20px; padding: 20px;
width: 1200px; " class="nav bg-success text-light" >
  <i class="col-md-1 b" style="width: 180px;">ASIGNAR CITAS</i>
  <i class="col-md-1 b" style="width: 180px;">MODIFICAR CITAS</i>
  <i class="col-md-1 b">MENUS</i>
  <i class="col-md-1 b" style="width: 180px;">MEDICAMENTOS</i>
  <i class="col-md-1 b">CALENDARIO</i>
  <i class="col-md-1 b" style="width: 200px;">REPORTES MENSUALES</i> 
  <i class="col-md-1 b">CUPOS</i>
  <i class="col-md-1 b">ACCESIBILIDAD</i>  
</nav>
 