<header>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
    src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous" ></script>
  <link rel="stylesheet" href="inicio.component.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</header>

<body>
  <main>
    <header id="header">
      <div class="overlay overlay-lg">
        <img src="../../../assets/img_inicio/shapes/square.png" class="shape square" alt="" />
        <img src="../../../assets/img_inicio/shapes/circle.png" class="shape circle" alt="" />
        <img
          src="../../../assets/img_inicio/shapes/half-circle.png"
          class="shape half-circle1"
          alt=""
        />
        <img
          src="../../../assets/img_inicio/shapes/half-circle.png"
          class="shape half-circle2"
          alt=""
        />
        <img src="../../../assets/img_inicio/shapes/x.png" class="shape xshape" alt="" />
        <img src="../../../assets/img_inicio/shapes/wave.png" class="shape wave wave1" alt="" />
        <img src="../../../assets/img_inicio/shapes/wave.png" class="shape wave wave2" alt="" />
        <img src="../../../assets/img_inicio/shapes/triangle.png" class="shape triangle" alt="" />
        <img src="../../../assets/img_inicio/shapes/letters.png" class="letters" alt="" />
        <img src="../../../assets/img_inicio/shapes/points1.png" class="points points1" alt="" />
      </div>

      <nav>
        <div class="container">
          <div class="logo">
            <img src="../../../assets/img_inicio/logo.png" alt="" />
          </div>

          <!--<div class="links">
            <ul>
              <li>
                <a href="#header">Inicio</a>
              </li>
              <li>
                <a href="#services">Servicios</a>
              </li>
              <li>
                <a href="#about">Acerca de</a>
              </li>
              <li>
                <a href="#testimonials">Afiliaciones</a>
              </li>
              <li>
                <a href="#contact">Contactos</a>
              </li>
              <li>
                <a href="#hireme" class="active">Registrate</a>
              </li>
            </ul>
          </div>-->

          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </nav>

      <div class="header-content">
        <div class="container grid-2">
          <div class="column-1">
            <h1 class="header-title">GerAdvance</h1>
            <p class="text">
              Un sistema sencillo e intuitivo para la gestión 
              integral de hogares para la Tercera Edad que permite 
              optimizar el tiempo de sus procesos administrativos 
              mejorando la atención de los residentes del geriátrico y de sus familiares.
            </p>
            <a href="#" class="btn">¡Registrate YA!</a>
          </div>

          <div class="column-2 image">
            <img
              src="../../../assets/img_inicio/shapes/points2.png"
              class="points points2"
              alt=""
            />
            <img src="../../../assets/img_inicio/person.png" class="img-element z-index" alt="" />
          </div>
        </div>
      </div>
    </header>

    <section class="services section" id="services">
      <div class="container">
        <div class="section-header">
          <h3 class="title" data-title="¿Que realizamos?">Servicios</h3>
          <p class="text">
            A continuación te presentamos, algunos de los servicios que integran GerAdvance OS.
          </p>
        </div>

        <div class="cards">
          <div class="card-wrap">
            <img
              src="../../../assets/img_inicio/shapes/points3.png"
              class="points points1 points-sq"
              alt=""
            />
            <div class="card" data-card="UI/UX">
              <div class="card-content z-index">
                <img src="../../../assets/img_inicio/design-icon.png" class="icon" alt="" />
                <h3 class="title-sm">Actividades</h3>
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
                  est suscipit itaque?
                </p>
                <a href="#" class="btn small">Read more</a>
              </div>
            </div>
          </div>

          <div class="card-wrap">
            <div class="card" data-card="Code">
              <div class="card-content z-index">
                <img src="../../../assets/img_inicio/code-icon.png" class="icon" alt="" />
                <h3 class="title-sm">Medicina</h3>
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolores suscipit nobis dolore?
                </p>
                <a href="#" class="btn small">Read more</a>
              </div>
            </div>
          </div>

          <div class="card-wrap">
            <img
              src="../../../assets/img_inicio/shapes/points3.png"
              class="points points2 points-sq"
              alt=""
            />
            <div class="card" data-card="App">
              <div class="card-content z-index">
                <img src="../../../assets/img_inicio/app-icon.png" class="icon" alt="" />
                <h3 class="title-sm">Conformidad</h3>
                <p class="text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatum hic veniam nihil.
                </p>
                <a href="#" class="btn small">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    

    <section class="about section" id="about">
      <div class="container">
        <div class="section-header">
          <h3 class="title" data-title="¿Quienes Somos?">Acerca de nosotros</h3>
        </div>

        <div class="section-body grid-2">
          <div class="column-1">
            <h3 class="title-sm">Hola, nosotros somos</h3>
            <p class="text">
              GerAdvance, una aplicacion web Open Source. Construido por los desarrolladores: Kevin Ponce y Sebastián Peréz.
              Servimos a la comunidad residentes de los centros geriátricos del país, con el fin de colaborar
              con la distribución, organización y simplicidad de las actividades dentros de estos centros.
              Nos carácterizamos por los siguientes puntos:
            
            </p>
            <div class="skills">
              <div class="skill html">
                <h3 class="skill-title">Seguridad</h3>
                <div class="skill-bar">
                  <div class="skill-progress" data-progress="90%"></div>
                </div>
              </div>
              <div class="skill css">
                <h3 class="skill-title">Adaptabilidad</h3>
                <div class="skill-bar">
                  <div class="skill-progress" data-progress="70%"></div>
                </div>
              </div>
              <div class="skill js">
                <h3 class="skill-title">Modernidad</h3>
                <div class="skill-bar">
                  <div class="skill-progress" data-progress="80%"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="column-2 image">
            <img src="../../../assets/img_inicio/shapes/points4.png" class="points" alt="" />
            <img src="../../../assets/img_inicio/about.png" class="z-index" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section class="records">
      <div class="section-header">
        <h3 class="title" data-title="¿Nuestra capacidad?">Nuestros usuarios afiliados</h3>
      </div>
      <div class="overlay overlay-sm">
        <img src="../../../assets/img_inicio/shapes/square.png" alt="" class="shape square1" />
        <img src="../../../assets/img_inicio/shapes/square.png" alt="" class="shape square2" />
        <img src="../../../assets/img_inicio/shapes/circle.png" alt="" class="shape circle" />
        <img
          src="../../../assets/img_inicio/shapes/half-circle.png"
          alt=""
          class="shape half-circle"
        />
        <img src="../../../assets/img_inicio/shapes/wave.png" alt="" class="shape wave wave1" />
        <img src="../../../assets/img_inicio/shapes/wave.png" alt="" class="shape wave wave2" />
        <img src="../../../assets/img_inicio/shapes/x.png" alt="" class="shape xshape" />
        <img src="../../../assets/img_inicio/shapes/triangle.png" alt="" class="shape triangle" />
      </div>

      <div class="container">
        <div class="wrap">
          <div class="record-circle">
            <h2 class="number" data-num="235">1</h2>
            <h4 class="sub-title">Centros geriátricos</h4>
          </div>
        </div>

        <div class="wrap">
          <div class="record-circle active">
            <h2 class="number" data-num="174">1</h2>
            <h4 class="sub-title">Clientes</h4>
          </div>
        </div>

        <div class="wrap">
          <div class="record-circle">
            <h2 class="number" data-num="892">1</h2>
            <h4 class="sub-title">Enfermeros</h4>
          </div>
        </div>

        <div class="wrap">
          <div class="record-circle">
            <h2 class="number" data-num="368">1</h2>
            <h4 class="sub-title">Cuidadores</h4>
          </div>
        </div>
      </div>
    </section>


    <section class="contact" id="contact">
      <div class="container">
        <div class="contact-box">
          <div class="contact-info">
            <h3 class="title">Póngase en contacto</h3>
            <p class="text">
              ¿Necesitas mas información acerca de nuestros servicios? A continuación tienes los canales
              de contacto.
            </p>
            <div class="information-wrap">
              <div class="information">
                <div class="contact-icon">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <p class="info-text">Quevedo, Ecuador</p>
              </div>

              <div class="information">
                <div class="contact-icon">
                  <i class="fas fa-paper-plane"></i>
                </div>
                <p class="info-text">serviciocliente@geradvance.com</p>
              </div>

              <div class="information">
                <div class="contact-icon">
                  <i class="fas fa-phone-alt"></i>
                </div>
                <p class="info-text">09912345678</p>
              </div>
            </div>
          </div>

          <div class="contact-form">
            <h3 class="title">Contáctanos</h3>
            <div class="row">
              <input
                type="text"
                class="contact-input"
                placeholder="Nombres"
              />
              <input
                type="text"
                class="contact-input"
                placeholder="Apellidos"
              />
            </div>

            <div class="row">
              <input type="text" class="contact-input" placeholder="Teléfono" />
              <input type="email" class="contact-input" placeholder="Correo" />
            </div>

            <div class="row">
              <textarea
                name="message"
                class="contact-input textarea"
                placeholder="Escribe aquí "
              ></textarea>
            </div>
            <a href="#" class="btn">Enviar</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="grid-4">
        <div class="grid-4-col footer-about">
          <h3 class="title-sm">Acerca de</h3>
          <p class="text">
            GerAdvance Open Source, aplicacion web de geriátria en desarrollo.
          </p>
        </div>

        <div class="grid-4-col footer-links">
          <h3 class="title-sm">Enlaces</h3>
          <ul>
            <li>
              <a href="#services">Servicios</a>
            </li>
            <li>
              <a href="#about">Acerca de nostros</a>
            </li>
            <li>
              <a href="#contact">Contactos</a>
            </li>
          </ul>
        </div>

        <div class="grid-4-col footer-links">
          <h3 class="title-sm">Servicios</h3>
          <ul>
            <li>
              <a href="#">Actividades</a>
            </li>
            <li>
              <a href="#">Medicina</a>
            </li>
            <li>
              <a href="#">Conformidad</a>
            </li>
           
          </ul>
        </div>

        <div class="grid-4-col footer-newstletter">
          <h3 class="title-sm">Suscribirse</h3>
          <p class="text">
            Para obtener informaciones acerca de nuestros cambios, ingresa tu correo.
          </p>
          <div class="footer-input-wrap">
            <input type="email" class="footer-input" placeholder="Email" />
            <a href="#" class="input-arrow">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="bottom-footer">
        <div class="copyright">
          <p class="text">
            Copyright&copy;2020 All rights reserved | Made by
            <span>True Coder</span>
          </p>
        </div>

        <div class="followme-wrap">
          <div class="followme">
            <h3>Follow me</h3>
            <span class="footer-line"></span>
            <div class="social-media">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>

          <div class="back-btn-wrap">
            <a href="#" class="back-btn">
              <i class="fas fa-chevron-up"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="inicio_isotipe.component.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="inicio.component.js"></script>
</body>
 