 
<!DOCTYPE html>
<html>
<head>
<title>Citas del Doctor</title>
 
</head>
<body>

<h2>Citas Medicas</h2>

<table>
  <tr>
    <th>Fecha</th>
    <th>Estado</th> 
    <th>Motivo de la cita</th>
    <th>ACCION</th>
  </tr>
  <tr *ngFor="let c of citas;  let control=index">
    <td style="width: 400px;">{{c.fecha}}</td>
    <td>{{c.estado}}</td> 
    <td>{{c.motivo}}</td>
    <td> 
      <a class="btn transparent nav-link active" id="sign-up-btn" routerLink="/atender-citas">REVISAR</a> 
    </td>
  </tr>
</table>

</body>
</html>