table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  th, td {
    border: 1px solid #555555;
    text-align: left;
    padding: 8px;
    border: 1px solid #3fabb5;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #3fb596;
    color: white;
  }