
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="sing-in.component.css">
         
    <!--<title>Login & Registration Form</title>-->
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Acceder</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Ingrese su correo" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Ingrese su contraseña" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Recordarme</label>
                        </div>
                        
                        <a href="#" class="text">¿Recuperar contraseña?</a>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Acceder">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">¿Aun no tienes una cuenta?
                        <a href="/pre-registro" class="text signup-link">Registrarse</a>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <script src="../../../assets/js/sing-in.js"></script>
</body>
</html>


