<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Calendario de citas médicas</title>
  
</head>
<body style="height: 700px;">
  <h1>Calendario de citas médicas</h1>
  <table style="height: 600px; width: 1500px;">
    <thead>
      <tr>
        <th class="day-name">Lunes</th>
        <th class="day-name">Martes</th>
        <th class="day-name">Miércoles</th>
        <th class="day-name">Jueves</th>
        <th class="day-name">Viernes</th>
        <th class="day-name">Sábado</th>
        <th class="day-name">Domingo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
      </tr>
      <tr>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
      </tr>
      <tr>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
      </tr>
      <tr>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
      </tr>
      <tr>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
        <td class="day-number"></td>
      </tr>
    </tbody>
  </table>
</body> 
</html>