
<header>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="registro.component.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</header>


<body>
    <div class="container">
        <div class="forms-container">
          <div class="signin-signup">
 

            <form [formGroup]="form" (ngSubmit)="enviardatos()" action="#" class="sign-in-form">
              <h2 class="title">Iniciar Sesión</h2>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" formControlName="nombreusuario" placeholder="Usuario" />
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" formControlName="clave" placeholder="Contraseña" />
              </div> 
              <input type="submit" value="Ingresar" class="btn solid" />
        
            </form>
            <form action="#" class="sign-up-form">
            
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Usuario" />
              </div>
              <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Correo Electrónico" />
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Contraseña" />
              </div>
              <input type="submit" class="btn" value="Registrarte" />
            
            </form>
          </div>
        </div>
  
        <div class="panels-container">
          <div class="panel left-panel">
            <div class="content">
              <h3>¿Eres Nuevo?</h3>
              <p>|
                ¿Aún no te encuentras registrado en GerAdvance?, Únete y disfruta de nuestro servicios.
              </p>  
              <a class="btn transparent nav-link active" id="sign-up-btn" href="/registronew" routerLink>REGISTRATE</a> 
            </div>
            <figure>
              <img src="../../../assets/img_registro/log.svg" class="image" alt="" />
            </figure>
            
          </div>
 
        </div>
      </div>
  
      <script src="registro.component.js"></script>
</body>

<footer>

</footer> 
 