<h1>Asignacion de citas en el geriatrico</h1>
<p>
  Por favor, rellene el formulario a continuacion para solicitar una cita con el geriatrico. Despues de enviar el formulario, recibira un correo electronico con la informacion de su cita.
</p>
<form action="assign_cita.php" method="post">
  <p>
    Nombre: <input type="text" name="name" />
  </p>
  <p>
    Correo electronico: <input type="email" name="email" />
  </p>
  <p>
    Fecha deseada: <input type="date" name="date" />
  </p>
  <p>
    Hora deseada: <input type="time" name="time" />
  </p>
  <input type="submit" value="Enviar" />
</form>