<h1>Asignacion de citas en el geriatrico</h1>
<p>
  Por favor, rellene el formulario a continuacion para solicitar una cita con el geriatrico. Despues de enviar el formulario, recibira un correo electronico con la informacion de su cita.
</p>
<form style="width: 400px;" [formGroup]="form" (ngSubmit)="enviardatos()" action="assign_cita.php" method="post"> 
  <p>
    FECHA DESEADA: 
    <input class="campos" type="date" formControlName="fecha" />
  </p>
  <p>
    MOTIVO: 
    <input class="campos"  type="text" formControlName="motivo"/>
  </p> 
    DOCTOR:
  <select  formControlName="doc" >
    <option *ngFor="let c of doc;  let control=index" value="{{c.nombre}}">{{c.nombre}}</option> 
  </select> 
  <p>
    
  </p>
  <input type="submit" value="Solicitar" />
</form>