<nav class="menupr"> 
<div>
<ul style="display: flex; flex-direction: row;">
<li> 
<a class="nav-link active" routerLink="inicio">INICIO</a>     
</li>
<li> 
<a class="nav-link active" routerLink="registro">REGISTRO</a>   
</li> 
<li>  
    <a class="nav-link active" routerLink="menus">MENUS</a>  
</li>   
<li>  
    <a class="nav-link active" routerLink="medicamentos">MEDICAMENTOS</a> 
</li>       
<li>  
    <a class="nav-link active" routerLink="calendario">CALENDARIO</a>  
</li>       
<li>  
    <a class="nav-link active" routerLink="reportes">REPORTES</a>   
</li>           
</ul>
</div>

</nav>
<router-outlet></router-outlet>