<nav class="nav justify-content-center|justify-content-end" 
style="color: rgb(56, 180, 99); background-color: rgb(53, 147, 125); font-style: italic;font-family: 'Times New Roman', Times, serif;">
<a class="nav-link" routerLink="inicio">INICIO</a>     
<a class="nav-link" routerLink="registro">REGISTRO</a>   
<a class="nav-link" routerLink="asignar-citas">ASIGNAR CITAS</a>     
<a class="nav-link" routerLink="modcitas">MODIFICAR CITAS</a>   
<a class="nav-link" routerLink="menus">MENUS</a>     
<a class="nav-link" routerLink="medicamentos">MEDICAMENTOS</a>   
<a class="nav-link" routerLink="calendario">CALENDARIO</a>     
<a class="nav-link" routerLink="reportes">REPORTES MENSUALES<</a>   
<a class="nav-link" routerLink="cupos">CUPOS</a>     
<a class="nav-link" routerLink="accesibilidad">ACCESIBILIDAD</a>    

</nav>
<router-outlet></router-outlet>