<h1>Menús de Dietas Geriátricas</h1>
<p>
    El cuidado de una dieta adecuada para los adultos mayores es importante para mantener los niveles de salud en el mejor estado posible. Estos menús se diseñaron para satisfacer las necesidades nutricionales de los adultos mayores.
</p>
<h2>Lunes</h2>
<ul>
    <li>Desayuno: Huevos revueltos con tomates, pan integral y frutas</li>
    <li>Almuerzo: Hamburguesa de pollo con ensalada de vegetales y una manzana</li>
    <li>Cena: Sopa de verduras con pan y queso</li>
</ul>
<h2>Martes</h2>
<ul>
    <li>Desayuno: Avena con yogur y frutas</li>
    <li>Almuerzo: Ensalada de pollo con queso y una taza de manzana</li>
    <li>Cena: Pescado al horno con puré de papas y una taza de melón</li>
</ul>
<h2>Miércoles</h2>
<ul>
    <li>Desayuno: Tostadas con mantequilla de maní y un vaso de jugo de naranja</li>
    <li>Almuerzo: Ensalada de atún con aceitunas y una banana</li>
    <li>Cena: Pollo al horno con arroz y una taza de melón</li>
</ul>