
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="sing-up.component.css">
         
    <!--<title>Login & Registration Form</title>-->
</head>
<body>
    
    <div class="container">
        <div class="forms">
            
            <div class="form login">
                <span class="title">Registrarte</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Ingrese su usuario" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Ingrese su correo" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Ingrese una contraseña" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirme la contraseña" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="termCon">
                            <label for="termCon" class="text">Acceptar los terminos y condiciones</label>
                        </div>
                    </div>

                    <div class="input-field button">
                        <input href="/registro" type="button" value="Continuar registro">
                    </div>

                </form>
                <div class="login-signup">
                    <span class="text">¿Ya tiene una cuenta?
                        <a href="/acceder" class="text login-link">Ingrese</a>
                    </span>
                </div>
            </div>
            </div>
        </div>
</body>
</html>


