
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="sing-up.component.css">
         
    <!--<title>Login & Registration Form</title>-->
</head>
<body>
    
    <div class="container">
        <div class="forms">
            
            <div class="form login">
                <span class="title">Registrarte</span>

                <form [formGroup]="form" (ngSubmit)="enviardatos()">
                    <div class="input-field">
                        <input  formControlName="nombreusuario" type="text" placeholder="Ingrese su usuario" required>
                        <i class="uil uil-user"></i>
                    </div> 
                    <div class="input-field">
                        <input  formControlName="clave" type="password" class="password" placeholder="Ingrese una contraseña" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
               
                    <select  formControlName="tipousuario" >
                        <option >Doctor</option> 
                        <option >Paciente</option> 
                      </select>  

                   
                      <div class="input-field button">
                        <input type="submit" value="Registrarse">
                    </div>

                </form>
                <div class="login-signup">
                    <span class="text">¿Ya tiene una cuenta?
                        <a href="/acceder" class="text login-link">Ingrese</a>
                    </span>
                </div>
            </div>
            </div>
        </div>
</body>
</html> 